$screen-sm: 320px;
$screen-md: 768px;
$screen-xl: 1366px;

$header-background-color: white;
$divider-background-color: #EAEAEA;

$step: 8px;
$left-margin: 3 * $step;

.form-feedback {
  //display: flex;
  position: absolute;
  top: 0;
  background-color: $header-background-color;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);

  @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
    left: 0;
    width: 100%;
    flex-direction: column;
  }
  @media screen and (min-width: $screen-md) and (max-width: $screen-xl) {
    left: 0;
    width: $step * 40;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    flex-direction: column;
  }
  @media screen and (min-width: $screen-xl) {
    right: 0;
    width: 440px;
    height: 676px;
    flex-direction: row;
  }

  &--visible {
    display: flex;
    //flex-direction: column;
    z-index: 2;
  }

  &--hidden {
    display: none;
  }

  &__header {
    @media screen and (min-width: $screen-xl) {
      align-items: flex-start;
      padding-top: $step * 4;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $screen-xl) {
      padding-top: $step * 4;
    }
  }

  &__heading {
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-name {
    margin: $step $step * 2;
  }

  &__form-phone {
    margin: $step $step * 2;
  }

  &__form-email {
    margin: $step $step * 2;
  }

  &__form-message {
    margin: $step $step * 2;
  }

  &__form-submit-button {
    margin: $step $step * 2;
    align-self: flex-end;
  }

}
