$border-color: #EAEAEA;
$text-color: #1B1C21;
$header-caption-color: #7E7E82;
$header-background-color: #F8F8F8;
$background-color-cell: white;

$step: 8px;

.service-table {
  display: flex;
  flex-direction: column;
  //margin: $step * 3;
  background-color: $background-color-cell;

  &__header-row {
    display: flex;
    flex-direction: row;
    color: $header-caption-color;
    font-family: 'TT Lakes Medium';
    font-weight: normal;
    background-color: $header-background-color;
    margin: 0 $step * 2;
  }

  &__header-caption {
    padding: $step * 2 0;
    flex: 1 0 100px;

    &:first-child {
      flex: 1 0 400px;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    color: $text-color;
    font-size: 14px;
    line-height: 18px;
    //border: 1px solid $border-color;
    background-color: $background-color-cell;
    margin: 0 $step * 2;
    border-bottom: 1px solid $border-color;
    padding: 0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__cell {
    flex: 1 0 100px;
    padding: $step * 2 0;
    align-items: center;
    //justify-content: flex-end;
    //text-align: center;

    &:first-child {
      flex: 1 0 400px;
      //display: flex;
      //justify-content: right;
      //text-align: right;
    }

    &:last-child {
      //display: flex;
      //justify-content: right;
      text-align: right;
    }
  }

  &__button {
    align-self: flex-end;
  }

  &__last-column {
    //text-align: right;
  }
}